.index-grid
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
     "nav"
     "main"
     "footer";
}

.portfolio-grid
{
   display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
	grid-template-areas: "header header header"
	"nav nav nav"
	"article aside section"
	"footer footer footer";
}

#clicked .off
{
	display: none;
}

header
{
    grid-area: header;
}

nav 
{
	text-align: center;
	padding: 30px;
	grid-area: nav;
}

nav li 
{
	display: inline-block;
}	

nav li a 
{
	padding: 10px 30px;
	color: white;
	text-decoration: none;
}

nav li a:hover 
{
	background: white;
	color: red;
}
	   
article 
{
    grid-area: article;
}

main 
{
    grid-area: main;
}

aside
{
    grid-area: aside;
}

section
{
    grid-area: section;
}

main h1.indexwelcome1
{
	padding-left: 200px;
	padding-top: 50px;
}

main p.indexwelcome2
{
	padding-left: 200px;
	padding-top: 50px;
	font-size: 25px;
}

footer 
{
	position: fixed;
	bottom: 0px;
    grid-area: footer;
}