* 
{
	margin: 0;
	padding: 0;
}

/*the background gif is from an external website
Reference: https://gfycat.com/finishedgreenbarracuda*/

body 
{
	background-image: url("background.gif");
	background-size: 100%;
	font-family: Tahoma;
}

header 
{
	color: red;
    grid-area: header;
}

nav
{
	color: white;
    grid-area: nav;
}

article 
{
	color: white;
    grid-area: article;
}

main 
{
	color: white;
    grid-area: main;
}

aside
{
	color: white;
    grid-area: aside;
}

section
{
	color: white;
    grid-area: section;
}

footer 
{
	color: white;
	position: fixed;
	bottom: 0px;
    grid-area: footer;
}

input 
{
    border: 2px solid #ddd;
    color: #fff;
    background-color: #555;
}

input::placeholder 
{
    color: #ccc;
}

select
{
    border: 2px solid #ddd;
    color: #ccc;
    background-color: #555;
}

form 
{
	padding-top: 20px;
	padding-left: 50px;
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
}

.submit 
{
    grid-column: 2;
}

.blog-paragraph
{
	word-break: break-word;
}