* {
	margin: 0;
	padding: 0;
}

body 
{
	background-image: url("background.gif");
	background-size: 100%;
	font-family: Tahoma;
}

header 
{
	color: red;
    grid-area: header;
}

nav 
{
	color: white;
    grid-area: nav;
}

main 
{
	color: white;
    grid-area: main;
}

footer 
{
	color: white;
    grid-area: footer;
}