* 
{
	margin: 0;
	padding: 0;
}

/*the background gif is from an external website
Reference: https://gfycat.com/finishedgreenbarracuda*/

body 
{
	background-image: url("background.gif");
	background-size: 100%;
	font-family: Tahoma;
}

header 
{
	color: red;
    grid-area: header;
}

nav 
{
	color: white;
    grid-area: nav;
}

article 
{
	color: white;
    grid-area: article;
}

main 
{
	color: white;
    grid-area: main;
}

aside
{
	color: white;
    grid-area: aside;
}

section
{
	color: white;
    grid-area: section;
}

footer 
{
	color: white;
    grid-area: footer;
}