.shownav 
{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.shownav:before 
{
    content: '';
    position: fixed;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}

/*
When the target isn't set, hide the "off"
button and show the "on" button
referenced from in class exercise.
*/
#clicked .on 
{
	display: block;	
}

#clicked .off 
{
	display: none;
	color: white;
	font-size: 20px;
}

/*
When the target is set, hide the "on"
button and show the "off" button
referenced from in class exercise.
*/
#clicked:target .on 
{
	display: none;
}

#clicked:target .off 
{
	display: block;
}

#clicked:target nav 
{
	display: block;
}

header 
{
    grid-area: header;
}

.index-grid
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

nav 
{
    display: none;
	background-color: gray;
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    grid-area: nav;
}

nav li a 
{
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
}

main 
{
    grid-area: main;
}

main h1.indexwelcome1
{
	padding-left: 100px;
	padding-top: 200px;
}

main p.indexwelcome2
{
	padding-left: 100px;
	padding-top: 50px;
	font-size: 20px;
}

footer 
{
	position: fixed;
	bottom: 0px;
    grid-area: footer;
}